# Virtual Environment
venv/
ENV/
env/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class

# Database (Private Customer Data)
instance/
*.db
*.sqlite3

# Environment Variables (Mail Passwords & Keys)
.env

# VS Code & System Files
.vscode/
.DS_Store

#medicine cache
medicine_cache.json

#Migration To Cloud
migrate_to_cloud.py

#create_store_admin.py
create_store_admin.py

# reset_password.py
reset_password.py